.wrap-footer {
  @include flex(row, null, center, center, null);
  padding: 3rem 0;
  background-color: $black-light;
}

.footer {
  width: 90%;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;

  .icons {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    .list-icons {
      display: flex;
      width: 100%;
      justify-content: space-evenly;

      li {
        width: 2rem;

        a {
          text-align: center;
          color: $white-color;

          i {
            width: 100%;
            height: 100%;
          }

          &:hover {
            color: $orange-color;
          }
        }
      }
    }
  }
  
  .wrapper-item {
    display: flex;
    width: 100%;
    
    .footer-item {
      display: flex;
      justify-content: center;
      width: 100%;

      ul li a {
        color: $white-color;

        &:hover {
          color: $orange-color;
        }
      }
    }
  }

  .form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;

    form {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 1rem;

      .email {
        width: 80%;
        height: 4.5rem;
        outline: none;
        border: none;
        padding: 0 1rem;
        border-radius: 5rem;
        margin-bottom: 1rem;

        &::placeholder {
          color: #A0A0A0;
        }
      }

      .email:invalid {
        color: $orange-color;
        border: .1rem solid $orange-color;
      }

      .email-error {
        position: absolute;
        top: 5rem;
        left: 1rem;
        display: none;
      }

      .email:invalid ~ .email-error {
        display: block;
        color: $orange-color;
      }

  
      .btn-submit {
        width: 6rem;
        height: 4.5rem;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 5rem;
        background-color: $orange-color;
        color: $white-color;
        box-shadow: $box-shadow-footer;

        &:hover {
          opacity: .7;
        }
      }
    }

    .copy {
      display: none;
      color: $white-color;
    }
  }
}

@media screen and (min-width: 769px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;

    .icons {
      width: auto;
      flex-direction: column;
    }

    .wrapper-item {
      width: auto;
      gap: 10rem;

      .footer-item {
        width: auto;
      }
    }

    .form {
      width: 30%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .copy {
        display: flex;
        color: #8C8C94;
      }
    }
  }
}