// ----------------------------- variables generales
$background-primary: #F0A83E;
$background-secundary: #F0A83E;
$font-f: 'BeVietnamRegular';

$btn-box-shadow: 0 .4rem .7rem rgba(0, 0, 0, 0.25);
$btn-box-shadow-orange: 0px 4px 8px rgba(242, 97, 59, 0.5);
$box-shadow-footer: 0 .4rem .8rem rgba(244, 241, 240, 0.33);

$white-color: #ffffff;
$grey-color: #B3B2B7;
$orange-color: #F3603B;
$blue-dark: #242E52;
$second-blue-dark: #232C50;
$blue-light: #3F4868;
$black-color: #000000;
$black-light: #1E1E26;
